body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/background.png");
    background-repeat: repeat;
    font-family: "Bookman Old Style", serif;
}

#headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-block {
    display: none;
}

#finishing-game {
    display: none;
}

#finish-song {
    display: none;
}